{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<h1 style="text-align:center">Notes</h1>
<ul class="list-group item-group-flush" id="notes"> 
    {% for notes in user.notes %}
    <li class="list-group-item">{{ notes.data }}
        <button class="close" type="button" onclick="deleteNote({{ notes.id }})"><span aria-hidden="True">&times;</span></button>
    </li>
    {% endfor %}

</ul>

<br>
<p style="text-align: center;">Enter new note here.</p>
<form method="POST">
    <textarea id="note" name="note" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Make note</button>
    </div>
</form>


{% endblock %}